$primary-background-color: #fff;
$primary-link-color: #00008B;
$theme-black: #4d4d4d;
$theme-orange: #ffa500;
$theme-white: #fff;
// $secondary-background-color:;

body {
	padding: 0;
	margin: 0;
	background-color: $primary-background-color;
	font-family: 'Ubuntu', sans-serif;
}

.container {
	height:100vh;
	// width: 100%;
	.navbar__links {
		display: flex;
		justify-content: flex-end;
		width: 100%;
		background-color: $primary-background-color;
		overflow: auto;
		padding: 0.3rem;
		border-bottom: 2px solid lighten($theme-black, 30%); 

		a {
			text-align: center;
			padding: 12px;
			color: $primary-link-color;
			text-decoration: none;
			font-size: 17px;
			height: 20px;
			width: 60px;
			margin: 0 .5rem;
			&:hover {
				color: darken($theme-black, 50%);
				border-bottom: 2px solid darken($theme-black, 50%);
			}

			&.active {
				border-bottom: 2px solid $primary-link-color;
			}
		}

		.icon {
			display: none;
		}

		#contact {
			background-color: $theme-orange;
			border-radius: 1.6rem;
		}

		.logo-left {
			width: 100%;
		}
	}

	.content-container {
		.left-content {
			width: 45vw;
			float: left;
			padding:2rem;
		}
		.right-content {
			width: 45vw;
			float: right;
			padding: 2rem;

			.view-projects {
				text-align: center;
				padding: .8rem;
				text-decoration: none;
				font-size: 17px;
				height: 20px;
				width: 60px;
				margin: 0 .5rem;
				background-color: $theme-orange;
				border-radius: 1.6rem;
			}
		}
	}

	footer {
		position:fixed;
		left:0;
		bottom:0;
		width: 100%;
		text-align: center;
		padding: 10px;
		background-color: lighten($theme-black, 20%);
	}
}


// .active {
// 	background-color: #4CAF50;
// 	border-radius: 1.6rem;
// }

// Add media Queries to ensure navabr is responsive
// When screen is less than 600px wide, hide all links, except for the first one
// Show the hamburger icon which opens and closes the navbar
@media screen and (max-width: 600px) {
	.navbar__links a {
		&:not(:first-child) {
			display: none;
		}
		&.icon {
			float: right;
			display: block;
		}
	}
}

